.App {
  text-align: center;
  overflow-x: hidden;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



/* INITIAL APP CSS */

#root{
  overflow-y: hidden;
  height: 100vh;
}

.home-page{
  display: flex;
  width: 100vw;
}

.layout{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 90vh;
  overflow-y: scroll;
  position: relative;  
}

.side-panel{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100vh;
  background: #0b0b12;
  padding: 10px;
  padding-bottom: 94px;
}

.leaderboard{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  height: 100vh;
  background: #0b0b12;
  padding: 10px;
  padding-bottom: 94px;
}


@media only screen and (max-width: 850px) {
  .side-panel{
    display: none;
  }
  
  .leaderboard{
    display: none;
  }

  .layout{
    width: 100%;
  }
  
}
