.code-editor{
    position: relative;
    border-radius: 8px;
    width: inherit;
    
}

.input-field{
    display: block;
    width: inherit;
    top: 0; 
    left: 0; 
    opacity: 0;
    padding: 1em;
    margin: .5em 0;
    min-height: 100px;
    position: absolute;
    box-sizing: border-box;
    
}

.display-field{
    display: block;
    width: 100%;
    top: 0; 
    left: 0; 
    min-height: 100px;
    position: absolute;
    box-sizing: border-box;
    border: 1px solid hsl(240, 12%, 18%);
}

.display-field code {
    width: inherit;
}