.landing-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: contain;
    width: 100vw;
    height: 100vh;

}

.landing-elements{
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.logo-splash{
    min-width: 450px;
    width: 75vw;
    max-width: 870px;
}

.mobile-logo{
    display: none;
}


@media only screen and (max-width: 850px) {
    .landing-elements{
        height: 75%;
    }

    .mobile-logo {
      display: flex;
      min-width: 450px;
      width: 75vw;
      max-width: 600px;
    }

    .logo-splash{
        display: none;
    }
    
    
  }
  