.landing-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-image: url("https://i.imgur.com/Xasgc2q.png");
    background-size: contain;
    width: 100vw;
    height: 100vh;

}

.landing-elements{
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.landing-page h1{
    font-family: 'DM Sans', sans-serif;
}


.logo-container {
    display: flex;
    align-items: center;
}

.logo-container h1 {
    font-size: 50px;
    margin-bottom: 5px;
}

.logo-container img{
    width: 50px;
    margin-right: 10px;
}