.nav-bar{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border-bottom: 1px solid lightGrey;
    height: 70px;
    padding: 10px 35px 10px 35px;

}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}


.logo h3 {
    color: black;
    font-size: 22px;
    font-weight: bold;
    font-family: 'DM Sans', sans-serif;
}

.logo img{
    width: 24px;
    margin-right: 8px;
}




.search {
    display: flex;
    align-items: center;
    margin-left: auto;
    background: #EFF3F4;
    padding: 8px;
    border-radius: 20px;
    width: 220px;
}

.search-icon{
    width: 14px;
    opacity: .5;
}

.search input {
    background: none;
    border: none;
}

.search input:focus{
    outline: none;
}

.search button{
    margin: 0;
    border: none;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 4px 8px 4px;
    margin-right: 8px;
}


.hamburger {
    display: none;

}






@media only screen and (max-width: 850px) {
    .nav-bar{
        display: flex;
        align-items: center;
        height: 70px;
        padding-left: 20px;
        padding-right: 10px;
    }
    
    .search {
      display: none;
    }

    .hamburger {
        display: flex;
        background: none;
        border: none;
        margin: 0;
        margin-left: auto;
    }
    
    .hamburger img {
        width: 25px;
    }

    .mobile-nav{
        display: none;
        position: absolute;
    }
    
    .mobile-nav.open{
        display: flex;
        background: green;
        z-index: 300;
        width: 250px;
        height: 100%;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
    }
    
    .layout{
      width: 100%;
    }
    
  }
  