.hidden-container {
    background: #0b0b12;
    position: fixed;
    width: inherit;
    padding: 10px 10px 0px 10px;
    border-radius: 0px 0px 24px 24px;
    box-sizing: border-box;
}


.pagination{
    background: #12121b;
    box-sizing: border-box;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    border: 1px solid #26262b;
    border-radius: 8px 8px 0px 0px;
    color: rgb(200, 200, 200);
}

.pagination h3{
    margin-left: 14px;
}

.pagination button{
    box-sizing: border-box;
    height: 10px;
    margin: 0;
    padding: 12px 15px 12px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7450E9;
    border: none;
    border-radius: 15px;
    font-weight: 600;
    font-size: 12px;
}
