.hidden-container {
    background: #0b0b12;
    position: fixed;
    width: inherit;
    padding: 10px 10px 0px 10px;
    border-radius: 0px 0px 24px 24px;
    box-sizing: border-box;
    margin-bottom: 50px;
}


.pagination{
    background: #12121b;
    box-sizing: border-box;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    border: 1px solid #26262b;
    border-radius: 8px 8px 0px 0px;
    color: rgb(200, 200, 200);
}

.pagination h3{
    margin-left: 14px;
}

.pagination-buttons {
    margin-left: auto;
    padding-right: 10px;
}


.pagination button{
    margin: 0;
    font-size: 13px;
    padding: 8px 15px 8px 15px;
    background: none;
    border-radius: 8px;
    box-sizing: border-box;
    border: 1px solid #292934;
    color: rgb(200, 200, 200);
}

