.signup-page{
    display: flex;
    height: 94vh;
    background: #F7F7F7;
}

.left-container{
    background: white;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-container{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.title-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
}

.title-container h3 {
    opacity: .5;
    margin: 14px 0px 32px 0px;
    font-weight: 600;
}

.avatar-container{
    background: blue;
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

h1, h3 {
    margin: 0;
}

.form-container {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 450px
}

.form-container form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-container input, select, button {
    padding: 16px;
    font-size: 16px;
    margin-bottom: 16px;
}

.form-container input {
    border: 1px solid #e4e8eb;
    border-radius: 7px;
}


.form-container button {
    margin-top: 22px;
    background: #7450E9;
    border: none;
    color: white;
    font-weight: 600;
    border-radius: 7px;
}

.redirect-container{
    display: flex;
    font-size: 14px;
    font-weight: 500;
    opacity: .5;
}

.redirect-link{
    color: #7450E9;
    text-decoration: none;
    padding-left: 6px;
}

@media only screen and (max-width: 900px) {
    .signup-page{
        flex-direction: column;
        width: 100vw;
    }

    .left-container{
        width: 100%;
        height: 100vh;
    }
    .right-container{
        display: none;
    }

    .form-container {
        width: 75%;

    }
  }
  