.user-card{
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.user-card img{
    width: 35px;
    height: 35px;
}

.user-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 10px;
}

.user-info * {
    margin: 0;
}

.user-info p {
    font-size: 14px;
    color: rgb(140, 140, 140);
}